#search-bar-2 {
  background-color: #fff;
  display: flex;
  overflow: hidden;
  padding: 0;
}

#search-field-2 {
  background-color: white;
  font-size: calc(1vw + 1vh);
  height:2vh;
  padding-bottom: 20px;
}

#search-field-2:focus {
  font-size: calc(2vw + 1.5vh);
  transition: 300ms;
}

#search-button-2 {
  background-color: white;
  border: none;
  border-bottom: solid 1px rgb(141, 141, 141);
}
#search-button-2:hover {
    background-color: rgb(215, 250, 244);
    cursor: pointer;
    transition: 300ms;
  }
