/* Searchbar Container */
#header-search-bar {
  border-radius: 5px 0 0 0;
  display: flex;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Text Field */
#hsb-search-field {
  background-color: white;
  font-size: calc(1vw + 1vh);
  height:3vh;
  padding: 12px;
  &:hover {
    font-size: calc(1vw + 1.5vh);
    transition: 300ms;
  }
}



/* Button */
#hsb-search-button {
  background-color: white;
  border: none;
  border-bottom: solid 1px rgb(141, 141, 141);
  border-radius: 0 5px 0 0;
  &:hover {
    background-color: rgb(215, 250, 244);
    cursor: pointer;
    transition: 300ms;
  }
}
