.about-main {
  background-color: #fff;
  box-sizing: border-box !important;
  justify-self: center;
  margin: 10% 5% 5%;
  min-height: 70vh;
  padding: 1% 3%;
  width: 90%;
}

.main-header {
  font-size: calc(2vh + 25px);
  height: 10vh;
  text-align: center;
}

.main-header-logo {
  transform: translateY(5px);
  width: 250px;
}

.main-section {
  align-items: center;
  background: linear-gradient(to right, #5282f2 0%, #45e0b6 100%);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  padding: 20px;
}

.main-section-heading {
  font-size: calc(1vh + 30px);
  text-align: center;
}

.main-section-p {
  background-color: #ffffff82;
  border-radius: 15px;
  font-size: calc(1vh + 15px);
  text-align: justify;
  padding: 50px;
  width: 50%;
}
