#search-bar {
  display: flex;
  margin-left: 50px;
  width: 100%;
}

#search-field {
  font-size: calc(0.8vw + 2vh);
  height:4vh;
  padding: 15px;
}

#search-button {
  border: none;
  background-color: #ffffff00;
  display: flex;
  transform: translateX(-50px);
  img {
    width: 40px;
  }
}
#search-button:hover {
    cursor: pointer;
  }
